@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .powerball {
    @apply 
      absolute left-[50%] bottom-[0%] -translate-x-1/2
      -translate-y-1/2 size-4 focus:size-12 focus:rotate-[360deg]
      rounded-sm cursor-pointer bg-neutral-dark focus:bottom-[5%]
      text-transparent focus:bg-[dodgerblue] focus:outline-none;

    transition: all 500ms, border-radius 2s;

    &:focus {
      box-shadow: 1px 1px 10px 5px hsla(210, 100%, 56%, 0.3);
      border-radius: 3rem;
    }
  }
}
